@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom, #5495C7, #36A5FA); 
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header {
    padding: 10px;
    background-color: #102433;
    box-shadow: 3px inset black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.651);
}

header nav > a:hover {
    background-color: #719dbe;
    color: #000000;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.473);
}

header p {
    max-width: 500px;
    margin: auto;
}

header h1 {
    text-align: center;
    padding: 10px 0px 15px 0px;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.295);
}

main {
    color: rgb(0, 0, 0);
    line-height: 1.5em;
    background-color: white;
    min-width: 270px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
}

main h1 {
    color: #000;
    padding: 15px 10px;
    text-indent: 8px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.199);
}

main h2 {
    background-image: linear-gradient(to right, #9CC6E6, transparent);
    color: #000;
    margin-left: 10px;
    padding: 5px;
    text-indent: 8px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition-duration: .5s;
}

main img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border: 3px solid #000;
    padding: 0px;
    margin: 15px;
}

p {
    padding: 5px 10px;
    text-indent: 15px;
}

ul {
    padding: 05px 43px;
}

.fundo {
    padding: 0px 0px 10px 0px;
}

footer {
    padding: 10px 10px;
    background-color: #49535c;
}

a:hover {
    text-decoration: underline;
    color: #1f2325;
}


